<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1 class="{{result.suma['display']}}">Resulltado Suma:{{result.suma['resultado']}}</h1><br>
    <h1 class="{{result.resta['display']}}">Resulltado Resta:{{result.resta['resultado']}}</h1><br>
    <h1 class="{{result.multiplicacion['display']}}">Resulltado Multiplicacion:{{result.multiplicacion['resultado']}}</h1><br>
    <h1 class="{{result.division['display']}}">Resulltado Division:{{result.division['resultado']}}</h1><br>
</body>
<script>
        var hidden;
        window.onload=function(){
            hidden=this.document.querySelectorAll('h1');
            for (let index = 0; index < hidden.length; index++) {
                if(hidden[index].className!="")
                hidden[index].innerHTML="Micro-Servicio '"+opcion(index)+"' no se encuentra disponible"
            }
              let h1=document.createElement('h1');
              h1.innerHTML="El Micro-Servicio no se encuentra disponible"; 
        }
        function opcion(index){
            if(index==0)return 'SUMA'
            if(index==1)return 'RESTA'
            if(index==2)return 'MULTIPLICACION'
            if(index==3)return 'DIVISION'
        }
    </script>
</html>