<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <label for="">Resulltado Suma:{{result.suma['resultado']}}</label><br>
    <label for="">Resulltado Resta:{{result.resta['resultado']}}</label><br>
    <label for="">Resulltado Multiplicacion:{{result.multiplicacion['resultado']}}</label><br>
    <label for="">Resulltado Division:{{result.division['resultado']}}</label><br>
</body>
</html>